.profile-user {
  margin-left: 14rem;
  margin-top: 45px;
  width: 73%;
  padding-bottom: 100px;
  background-color: #111113;
}

.DummyActivityBar {
  margin-top: 66px;
  width: 18%;
  z-index: 1;
  height: 100vh;
  position: fixed;
  margin-left: 83%;
  background-color: #000000;
}
/*this class should be for app*/
.dummyParent {
  display: flex;
  flex-flow: nowrap row;
}

@media (max-width: 1200px) {
  .DummyActivityBar {
    width: 0px;
    visibility: hidden;
    z-index: 0;
  }
  .profile-user {
    width: 100%;

    margin-right: 0;
  }
}
@media (max-width: 700px) {
  .profile-user {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
