footer {
  background-color: #000000;
  color: azure;
  width: 100%;
  height: 530px;
  padding: 5% 12.5%;
  margin: 0;
}
header {
  background-color: #000000;
  color: azure;
  width: 100%;
  background-color: #000000;
  padding-left: 12.5%;
  padding-right: 12.5%;
  height: 80px;
}
p {
  font-weight: 550;
  color: #000000;
}
button a:hover,
button a:focus,
button a:active,
button a {
  color: #ffffff;
  text-decoration: none;
}
h2 {
  margin: 0.5em 0;
  color: #f9b835;
  font-size: 22px;
  line-height: 1.4;
}

.accountContainer {
  width: 100%;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  text-align: left;
  height: 95%;
}
.settingTitle {
  width: 90%;
  margin: auto;
  font-size: 30px;
  padding: 0 10px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
}
.accountContainer h1 {
  font-weight: 700;
  width: 90%;
  margin: auto;

  padding: 0 10px;
  text-align: left;
}

.accountCard {
  background-color: #ffffff;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  text-align: left;
}
.account {
  padding-top: 60px;
  background-color: #916b49;
  background-image: linear-gradient(#916b49, #000000);
}
.submit {
  border-radius: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;

  background-color: #f9b835;
  color: #ffffff;
  width: 150px;
  margin: 10px 5px 10px;
  padding: 5px;
  align-self: flex-start;
}
.submit:hover {
  background-color: #ffce00;
  color: #ffffff;
}
.rightSaveProfile {
  text-align: right;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 30px;
}
.rightSaveProfile .submit {
  width: 170px;
  font-size: 14px;
  font-weight: 550;
}
.cancle {
  border-radius: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;

  color: rgb(63, 63, 63);
  width: 140px;
  margin: 10px 5px 10px;
  padding: 5px;
  align-self: flex-start;
}

.editMetaData {
  color: #9e9e9e;
}

.editInput {
  width: 100%;
  height: 40px;
  border: 1px solid #f9b835;
  margin-bottom: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  -webkit-appearance: none;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
}
.error {
  font-size: 14px;
  margin-bottom: 20px;
  color: red;
}
.formSubmitErorr {
  font-size: 17px;
  text-align: center;
  background-color: red;
  color: #ffffff;
  height: 50px;
  padding-top: 10px;
}
.formSubmitSaved {
  font-size: 17px;
  text-align: center;
  background-color: #1ed760;
  color: #ffffff;
  height: 50px;
  padding-top: 10px;
}
.editInput:focus,
input[type="text"]:focus {
  border: 1.5px solid red;
}
.editProfileElement {
  margin: 20px 15px 30px;
}

.Dummy {
  height: 100%;
  width: 100%;
  padding-top: 10px;
  margin: auto;
}
@media only screen and (max-width: 1400px) {
  .formSubmitErorr {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1200px) {
  .mainContainer {
    width: 87%;
  }
  .listSideBar a::before {
    left: 6.5%;
  }
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    width: 100%;
  }

  .icons {
    visibility: hidden;
    padding: 0;
  }
  .listSideBar a {
    padding: 5% 5%;
  }
  .listSideBar a::before {
    left: 0%;
  }
}
@media only screen and (max-width: 600px) {
  .pageContainer {
    background-color: #fff;
  }
  .cancle {
    text-align: center;

    width: 175px;
  }
}
@media only screen and (max-width: 767px) {
  .overviewButton {
    width: 100%;
  }
  .rightSaveProfile {
    text-align: center;
    margin: 0;
  }

  .hiddenSideBar {
    visibility: visible;
    height: auto;
  }
  .sideBar {
    visibility: hidden;
    width: 0;
  }
  .content {
    width: 100%;
  }
  .imageContainer {
    flex-flow: column wrap;

    padding: 30px 30px;
  }

  .imageContainer h1 {
    font-size: 30px;
    font-weight: 700;
    max-width: 100%;
    text-align: center;
  }

  .imageContainer p {
    font-size: 16px;
    max-width: 100%;
    text-align: center;
  }
  .getPremium {
    width: 100%;
  }

  .title {
    width: 100%;
  }
  .iphoneImageClasse {
    width: 100%;
  }
  .iphone {
    width: 100%;
  }
}
