.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 223px;
  z-index: 2;
}
.fa-angle-left:before {
  margin-right: 20px;
}
.oud-nav {
  padding-top: 13px;
  padding-bottom: 13px;
}

.oud-btn {
  z-index: 2;
  border-style: solid;
  border-width: 2px;
  width: 150px;
  border: 2px solid #f0a91a;
  transition: all 0.4s linear;
  border-radius: 80px !important;
  border-radius: 0.85rem;
}
.oud-btn:hover {
  border: 2px solid #ffffff;
}
.icon_wrap {
  cursor: pointer;
}
.form-control {
  width: auto;
}
.search-input {
  color: #000;
  padding: 6px 20px;
  height: 40px;
  margin-right: 3px;
  line-height: 40px;
  width: 290px;
  border: 0;
  border-radius: 500px;
  outline: none;
}
input.empty {
  font-size: 18px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.login-singup {
  margin-left: 10vw;
  overflow: hidden;
}
.left-arrow {
  font-size: 1.7em;
}
.right-arrow {
  font-size: 1.7em;
}
.left-arrow:hover {
  color: #f0a91a;
  cursor: pointer;
}
.right-arrow:hover {
  color: #f0a91a;
  cursor: pointer;
}
.signup-signin-link {
  color: #ffffff;
}

.login-signup-btn:hover a {
  color: #f0a91a;
}
@media (max-width: 480px) {
  .dropdown-me {
    left: 5px !important;
    top: 50px !important;
  }

  .search-input {
    width: 100%;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .navbar-toggler {
    width: 100% !important;
  }
  .form-inline {
    width: 100%;
  }
  .nav-back-forward {
    visibility: hidden;
    width: 100%;
    margin-left: 42% !important;
  }
}
.signin,
.signup,
.upgrade {
  color: #fff;
}
.signin:hover,
.signup:hover,
.upgrade:hover {
  color: #f0a91a;
}

@media (max-width: 993px) {
  .dropdown-me {
    left: 5px !important;
    top: 50px !important;
  }
  .signup-signin-link {
    width: 100%;
  }
  .oud-btn {
    width: 100%;
  }
  .signin {
    margin-bottom: 15px !important;
  }
  button.btn.oud-btn.my-2.my-sm-0.mr-3.login-signup-btn.signin {
    margin-bottom: 10px !important;
  }
  .profile {
    margin-top: 5px;
  }
}

.bg-darky {
  background: #000;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 30%;
}

.username {
  font-size: 20px;
  margin-bottom: 0;
  font-weight: bold;
  margin-left: 7px;
  color: white;
}

.dropdown-me {
  left: -30px !important;
  /* right: 200px !important; */
  top: 50px;
  background: #232327;
  color:#f0a91a
}
.element {
  color: #fff;
  background: #232327;
  margin-top: 0;
}
.element:nth-child(1) {
  border-bottom: 0.5px solid rgb(121, 116, 116);
}
.element:hover {
  background: #dd9b18;
  color: #fff;
}
.upgrade {
  color: #fff;
}
.upgrade:hover a {
  color: #f0a91a;
}
#droppos{
  position: static;
}