.song{  
    height:64px;
    width:100%;
    min-width: 420px;
    padding: 9px 0px;  
    border: none;
    background-color: transparent;
}
@media screen and (min-width: 1450px) {
    .song {
        min-width: 950px;
    }
}

@media screen and (min-width: 1370px) and (max-width: 1450px){
    .song {
        min-width: 880px;
    }
}

@media screen and (min-width: 1250px) and (max-width: 1370px){
    .song {
        min-width: 780px;
    }
}
@media screen and (min-width: 1220px) and (max-width: 1250px){
    .song {
        min-width: 720px;
    }
}
@media screen and (min-width:992px) and (max-width: 1220px){
    .song {
        min-width: 550px;
    }
}
@media screen and (min-width:900px) and (max-width: 992px){
    .song {
        min-width: 670px;
    }
}
@media screen and (min-width:800px) and (max-width: 900px){
    .song {
        min-width: 580px;
    }
}
#song:focus{
    background-color: rgba(50,60,60, .5);
    border: none;
    outline: none;
}
.hovered{
    background-color: rgba(50,60,60, .5);

}
#song:hover{
    background-color: rgba(50,60,60, .5);
}
.goldText{
    color: #F9B835;
}
.hide{
    display: none;
}
.block{
    display: block;
}
.songInfo{
    text-align: left;
}
.songChild:hover{
    background-color: transparent;
}
.songButton{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding:0px
}
.songButton:focus{
    outline: none;
}
#songDropdownButton{
    padding-bottom: 10px;
}

.dropdowns {
    position: relative;
    font-size: 14px;
    z-index: 3;
}
.dropdownContent {
    position: relative;
    right:140px;
    bottom:30px;
    background-color: #282828;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5px 0px;
    text-align: left;

  }
  
  /* Links inside the dropdown */
  .dropdownContent .SongDropdownItem{
    color: #FFCE00;
    padding: 5px 5px 0px 7px;
    text-decoration: none;
    text-align: left;
    width:100%
  }
  /* Change color of dropdown links on hover */
.dropdownContent .SongDropdownItem:hover {
    color:white;
    background-color: #424242;}

