.MusicCard {
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 10px;
}


.cardImage {
    padding: 0;
    margin: 0 auto;
    max-width: 370px;
    max-height: 370px;
    position: relative;
    object-fit: cover;
    

}

.cardContent {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: red;
}

@media (max-width : 700px) {
    .cardImage {
        width: 370px;
    }
}