.createPlaylist {
  background-color: rgba(0, 0, 0, 1);
  min-height: 750px;
  color: #fff;
  text-align: center;
  padding: 37px 0px;
  z-index: 4;
  width: 100%;
}

.closeButton {
  background-color: transparent;
  text-align: center;
  border: transparent;
  padding: 8px 20%;
}
#createPlaylistTitle {
  font-weight: bold;
  margin: 16px 0px;
  line-height: 56px;
  font-size: 48px;
}
#createPlaylistBigField{
    width: 100%;
    padding: 20px 20%;
    background-color: #282828;
    min-height: 148px;
    margin-bottom: 28px;
}
#wrapperId{
    width:100%;
}
#second-wrapperId{
    width:100%;
}
#cardsId{
    width: 100%;
}
#createPlaylistContainer{
    padding: 32px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: bold;
    caret-color: #1db954
}
#cretePLaylistName {
  font-size: 48px;
  line-height: 56px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  height: 65px;
  font-weight: bold;
}

#cancelCreation{
    z-index: 2;
    border-style: solid;
    border-width: 2px;
    width: 150px;
    border: 2px solid #f0a91a;
    transition: all 0.4s linear;
    border-radius: 80px !important;
    border-radius: 0.85rem;
    display: inline;
    background-color: transparent;
    color: #f0a91a;
    margin:10px;
}
#cancelCreation:hover {
    border: 2px solid #ffffff;
}
#ceatePlaylistBtn{
    display: inline-block;
    padding: 5px 10px;
    height: 27px;
}
.invisibleButton{
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    padding:0px;
}
