.queue-container {
  background-color: black;
  bottom: 100px;
  position: fixed;
  z-index: 3;
  float: right;
}
.queue-container .overlay {
  position: fixed;
  bottom: 75px;
  right: 0;
  background-color: black;
  /* background-color: rgba(0, 0, 0, 0.9); */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 60%;
  min-width: 620px;
  height: 0;
  transition: 0.5s ease;
  border-top-left-radius: 1em;
  border-bottom: 2px groove #a0a0a0;
}

.queue-container .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.queue-container .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.queue-container .overlay a:hover,
.queue-container .overlay a:focus {
  color: #f1f1f1;
}

.queue-container .close-btn {
  display: flex;
  background: transparent;
  border: none;
  transform: rotateZ(180deg);
}
.queue-container .overlay .close-btn {
  position: absolute;
  top: 20px;
  right: 2%;
  font-size: 60px;
}
.tracks-container {
  overflow: scroll;
  position: relative;
  top: 60px;
}
.track {
  background: black;
  width: 100%;
  z-index: 5;
  height: 4.56em;
  position: relative;
  top: 60px;
  display: flex;
  text-decoration: none;
  box-shadow: none;
  border: none;
  margin-bottom: 0.5em;
  /* opacity: 1 !important;
  visibility: visible !important; */
}
.track:hover {
  background: #292929;
}

.track-art-work {
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  position: relative;
  background-size: cover;
  border-radius: 0.3em;
  float: left;
}
.track .content {
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
}
.track .content .track-name {
  /* display: inline-flex; */
  float: left;
  max-width: 18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-height: 3.5em;
  width: 18rem;
}
.track .content .track-name a {
  display: initial;
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: rgb(245, 243, 243);
  animation: trackmove;
}
@keyframes trackmove {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
.track .content .artist-name {
  position: relative;
  float: left;
  max-width: 18rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  max-height: 3em;
  /* margin-left: 3.5em; */
  /* margin-top: 0.95em; */
  left: 5%;
}
.track .content .artist-name a {
  padding: 8px;
  text-decoration: none;
  font-size: 0.8em;
  color: #a0a0a0;
}
.open-nav-btn {
  font-size: 30px;
  cursor: pointer;
}

.track .handler {
  cursor: row-resize;
  display: inherit;
  height: 24px;
  width: 40px;
  background-size: cover;
  position: relative;
  top: 32%;
  margin-right: 2%;
  margin-left: 2%;
}
.track:hover .ellipsis-icon {
  visibility: visible;
}
.ellipsis-container {
  height: 100%;
  position: relative;
  text-align: center;
  top: 0.6em;
  display: initial;
  float: right;
  right: 5%;
}
.ellipsis-icon {
  background: transparent;
  border: none;
  visibility: hidden;
}
.track .content .duration {
  cursor: default;
  float: right;
  border-radius: 50%;
  margin: auto;
  padding: 0.6em;
  padding-top: 0.8em;
  margin-right: 2%;
}
.track .content .play-pause {
  background: transparent;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 3.5em;
  height: 3.5em;
  visibility: hidden;
  border-radius: 0.3em;
  box-shadow: 0px -1px 6px 2px #ffc107, 0 3px 17px 0 #d39e00;
  z-index: 5;
  float: left;
  -moz-box-shadow: 0px -1px 6px 2px #ffc107, 0 3px 17px 0 #d39e00;
  -webkit-box-shadow: 0px -1px 6px 2px #ffc107, 0 3px 17px 0 #d39e00;
}
.track .content .play-art {
  position: relative;
}
.track .content .play-art:hover .play-pause {
  visibility: visible;
}
.menu {
  position: absolute;
  /* display: inline-block; */
  float: right;
  right: 24em;
  top: 0;
}
.queue-container .overlay .menu .dropdown-menu {
  display: block;
  position: absolute;
  background-color: #383838;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  width: 14rem;
}
.menu .dropdown-menu .dropdown-btn {
  background: transparent;
  border: none;
  font-size: 1em;
  color: whitesmoke;
  width: 100%;
}
.dropdown-menu .dropdown-btn {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu .dropdown-btn:hover {
  background-color: black;
  color: #ffc107;
}

@media screen and (max-width: 1030px) {
  /* .track .content .artist-name,
  .track .content .track-name {
    float: none;
  } */
  .track .content .artist-name {
    margin-top: auto;
  }
  .track .content .track-name a {
    font-size: 18px;
  }
}
.queue-add-to-playlist .createPlaylist {
  position: absolute;
  top: 50%;
  bottom: 50%;
}
@media screen and (max-height: 450px) {
  .track .content .artist-name,
  .track .content .track-name {
    float: none;
  }
  .track .content .artist-name {
    margin-top: auto;
  }
  .track .content .track-name a {
    font-size: 18px;
  }
}

@media screen and (max-height: 450px) {
  .queue-container .overlay {
    overflow-y: auto;
  }
  .queue-container .overlay a {
    font-size: 20px;
  }
  .queue-container .overlay .close-btn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (min-width: 1027px) and (max-width: 1131px) {
  .track .content .artist-name {
    display: none;
  }
}
/* @media screen and (min-width: 1018px) and (max-width: 1261px) {
  .track .content .duration {
    display: none;
  }
}
@media screen and (max-width: 1261px) {
  .track .content .duration {
    margin-top: -11%;
  }
} */

@media screen and (max-width: 1026px) {
  .track .content .duration,
  .ellipsis-container,
  .menu,
  .dropdown-menu {
    display: none;
  }
}

/* @media screen and (max-width: 1036px) {
  .ellipsis-container {
    top: -33px;
    right: -59%;
  }
} */
.queue-add-to-playlist .createPlaylist {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
