.queue-container {
  background-color: #818181;
  bottom: 100px;
  position: fixed;
  z-index: 4;
  float: right;
}
.overlay {
  position: fixed;
  bottom: 100px;
  right: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 60%;
  min-width: 620px;
  height: 0;
  transition: 0.5s ease;
  border-top-left-radius: 1em;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.open-nav-btn {
  font-size: 30px;
  cursor: pointer;
}
