.google_button {
  width: 20rem;
  border-radius: 50px;
  padding: 5px 5px 11px;
  color: white;
  text-align: center;
  background-color: #4285f4;
  border: 2px solid #4285f4;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

}

.googlepic {
  width: 10%;
  background-color: white;
  border-radius: 100%;
  margin: auto 10px auto -10px;
}



.btn-outline-dark {
  background-color: white;
  border-color: #f9b835;
  box-shadow: white;
}

.btn-outline-dark:hover {
  background-color: #f9b835;
  border-color: #f9b835;
  box-shadow: none;
}

.btn-outline-dark:not(:hover) {
  box-shadow: none;
}

hr {
  color: #f9b835;
}

body {
  min-width: 300px;
  color: #f9b835;
}

.main-center {
  text-align: center;
}

.oud-title {
  font-size: 25px;
  top: 30px;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: #f9b835;
}

.navbar-brand:hover {
  color: #f9b835;
}

.navbar-brand:active {
  color: #f9b835;
}

.main-brand {
  border-bottom: 0.1px solid #f9b835;
  text-align: center;
}

.hint-text {
  color: #f9b835;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
}

.social-icons {
  font-size: 2.5em;
}

.main-form {
  max-width: 400px;
  min-width: 30vw;
  text-align: justify;
}

.or-seperator,
.or-seperator-2 {
  width: 30%;
  margin: 20px auto 10px;
  text-align: center;
  border-top: 1px solid #f9b835;
}

.or-seperator i {
  padding: 0 10px;
  background: #f9b835;
  position: relative;
  top: -11px;
  z-index: 1;
}

.rc-captcha {
  margin: 0 auto;
  margin-bottom: 15px;
  width: 302px;
  padding-left: 0;
  padding-right: 0;
}

.back {
  margin-bottom: 45px;
}

.or-seperator-2 {
  width: 50%;
}

button.btn.btn-primary.btn-block {
  color: #ffffff;
  background-color: #f9b835;
  border-radius: 50px;
}

button.btn.btn-primary.btn-block:active {
  color: #ffffff;
  background-color: #f9b835;
}

button.btn.btn-primary.btn-block:hover {
  background-color: #f9b835;
}

.error {
  font-size: 15px;
}

input.form-control.custom-select {
  background-color: #ffffff;
  border-color: #f9b835;
}

input.form-control {
  border-color: #f9b835;
}

select.form-control.form-col.custom-select {
  border-color: #f9b835;
}

.custom-select.is-invalid,
.was-validated .custom-select:invalid {
  border-color: #f9b835;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #f9b835;
}

.invalid-feedback {
  display: inline;
}

input.form-control.custom-select {
  height: 50px;
}

input.form-control {
  height: 50px;
}

select.form-control.form-col.custom-select {
  height: 50px;
}

button.btn.btn-primary.btn-block {
  height: 50px;
}