.backGround {
    width: 100%;
}

.Body {
    position: relative;
    display: inline-block;
    width: 100%;
}

.welcomeTextUser {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: center;
    color: white;
}

@media (max-width: 1100px) {
    .welcomeTextUser {
        top: 28%;
    }

    .welcomeTextUser button {
        width: 30%;
        font-size: 100%;
    }
}

@media (max-width: 700px) {
    .welcomeTextUser {
        top: 25%;
    }

}

@media (max-width: 550 px) {
    .welcomeTextUser {
        top: 20%;
    }

}


.getOudBtn {
    background-color: #f9b835;
    width: 15.6rem;
    height: 2.5rem;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    color: white;
    font-family: 'Lalezar',
        cursive;
    align-items: center;
    align-content: center;
}

Link {
    color: white;
}