.NavBarStyle_bg-custom {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 8px -2px rgba(240, 235, 222, 0.1);
}

.NavBarStyle_navbar-brand {
  text-align: left;
}

.NavBarStyle_navbar-expand-lg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: 0.5s;
}

.paddingNav {
  padding-left: 12.5%;
  padding-right: 8.8%;
}

.NavBarStyle_navbar-dark .NavBarStyle_navbar-nav .NavBarStyle_nav-link {
  color: #ffffff;
}

.NavBarStyle_navbar-dark .NavBarStyle_navbar-nav .NavBarStyle_nav-link:hover {
  color: goldenrod;
}

.oudLogo {
  margin-left: 0;
  margin-right: 20px;
  max-width: 30%;
}

.NavBarStyle_nav-items {
  margin-right: 3vw;
}

.NavBarStyle_block {
  font-size: 25px;
  color: #a8a49e;
}

.MusicCard {
  margin: 0 auto;
  left: 0;
  right: 0;
  margin-top: 10px;
}

.cardImage {
  padding: 0;
  margin: 0 auto;
  max-width: 370px;
  max-height: 370px;
  position: relative;
  object-fit: cover;
}

.cardImage:hover {
  background-color: black;
  opacity: 40%;
  transition: 0.5s ease;
}

/****/
.middle:hover .cardImage {
  background-color: black;
  opacity: 40%;
  transition: 0.5s ease-in-out;
}

.cardContent {
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: red;
}

.cartList {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
}

.slider {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 5px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.relativeCONT {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
}

.hideSong {
  opacity: 0;
}

.showSong {
  opacity: 100%;
}

.half {
  opacity: 70%;
  transition: 0.5s ease;
}

.PlayNow_btn {
  background-color: transparent;
  color: white;
  font-size: 15px;
  border: 0;
}

.PlayNow_btn:hover {
  background-color: transparent;
  color: goldenrod;
}

.relativeCONT .middle {
  background-color: rgba(black, black, black, 0.5);
}

.text {
  background-color: rgba(black, black, black, 1);
  color: white;
  font-size: 25px;
  padding: 16px 32px;
  z-index: 999;
}

.Ffooter-middle {
  padding-top: 3rem;
  color: #fff;
}

.Ffooter-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.ListMain .ListItem a {
  color: rgba(109, 109, 109);
}

.ListMain .ListItem a:hover {
  color: rgba(172, 172, 172);
}

.img-resp {
  max-width: 80%;
}

.ListMain :hover {
  color: goldenrod;
}

.backGround {
  width: 100%;
  margin-top: 70px;
}

.BodyStyle {
  position: relative;
  display: inline-block;
  width: 100%;
}

.welcomeTextUser {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 12%;
  text-align: center;
  color: white;
}

.getOudBtn {
  background-color: #f9b835;
  width: 15.6rem;
  height: 2.5rem;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  color: white;
  align-items: center;
  align-content: center;
  font-weight: bold;
  margin-top: 7px;
}

.LinkStyle {
  color: white;
}

.welcomeTextGeust {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 24%;
  text-align: center;
  color: white;
}

.getOudBtn:hover {
  background-color: #ffd071;
  transition: 1s;
}

.bottom {
  padding-top: 20px;
  position: relative;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  font-family: inherit;
}

.bottom h1 {
  font-size: 50px;
}

.bottom h5 {
  padding-bottom: 5px;
}

.getOudBtn2 {
  width: 15.6rem;
  height: 2.8rem;
  border: 1.5px solid #f9b835;
  border-radius: 50px;
  font-size: 15px;
  color: white;
  padding-top: 3px;
  font-family: "Lalezar", cursive;
  margin-bottom: 50px;
  margin-top: 10px;
  background-color: #f9b835;
  font-weight: bold;
}

.getOudBtn2:hover {
  border: 1.5px solid #ffd071;
  color: white;
  background-color: #ffd071;
  transition: 0.5s;
}

.getOudBtn2:active {
  border: 1.8px solid #e2a731;
  color: white;
  background-color: #e2a731;
  transition: 0.5s;
}

@media (max-width: 1100px) {
  .welcomeTextUser {
    top: 12%;
  }

  .welcomeTextUser button {
    width: 30%;
    font-size: 100%;
  }

  .welcomeTextGeust {
    top: 24%;
  }

  h1 {
    font-size: 30px;
  }

  h6 {
    font-size: 10px;
  }

  .welcomeTextGeust button {
    width: 32%;
    font-size: 100%;
  }

  .text {
    font-size: 100%;
  }
}

@media (max-width: 700px) {
  .cardImage {
    width: 370px;
  }

  .cartList {
    white-space: nowrap;
    overflow-x: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
  }

  .welcomeTextUser {
    top: 8%;
  }

  .text {
    font-size: 150%;
  }

}

@media (max-width: 550 px) {
  .welcomeTextUser {
    top: 12%;
  }

  .welcomeTextGeust {
    top: 16%;
  }

  .oudLogoBody {
    width: 10%;
  }
}

.user-image {
  margin-top: -1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.oudLogoBody {
  z-index: 9999;
  width: 20%;
  margin-bottom: 10px;
}

.HelpSection {
  margin-top: 100px;
}

.aboutSection {
  margin-top: 200px;
}

.HelpLogo {
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: block;
  width: 30%;
}

.Help_text {
  margin-top: 30px;
  text-align: center;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-top: 50px;
}

.grid-container>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.ContactImage {
  width: 200px;
  margin-bottom: 10px;
}

.grid-container a {
  color: #e2a731;
}

@media (max-width:1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
  }
}

@media (max-width:780px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

}

.AboutHead {
  float: left;
  text-align: left;
}

.AboutPara {
  color: white;
  float: left;
  text-align: left;
  text-decoration: none;
  white-space: normal;
}

.AboutPara a {
  color: #e2a731;
}

.FAHead {
  color: white;
  font-size: 100px;
}

.hrinFA {
  border: 0.5px solid gray;
}

.Text1 {
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}


.GETBTN {
  float: right;
  background-color: #e2a731;
  border-radius: 100px;
  border: 1px solid black;
  color: white;
  padding: 5px;
  margin: 2px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;

  padding: 10px;
  margin-top: 50px;
}

.grid-container2>div {

  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.FAImage {
  max-width: 250px;
}

.TSEction {
  background-color: #f9b835;
  color: white;
  text-align: center;
}

.TSEText {
  color: white;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 800px;
}

.GETBTN2 {
  background-color: white;
  border-radius: 100px;
  border: 1px solid white;
  color: black;
  padding: 5px;
  margin: 5px;
  margin-bottom: 30px;
  width: 40%;
}

@media (max-width:980px) {
  .grid-container2 {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
  }

  .grid-container2 h6 {
    font-size: 30px;
  }

}

@media (max-width:1110px) {
  .grid-container h6 {
    font-size: 20px;
  }
}