.oud-logo {
  margin-left: 5vw;
  max-width: 30%;
}

img.img-responsive.oud-logo {
  margin-left: 0;
  margin-right: 20px;
  margin: 0;
}

.navbar-brand {
  text-align: left;
}

.oud-navbar {
  height: 5vw;


}

.nav-items {
  margin-right: 3vw;
}

.bg-custom {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 3px 8px -2px rgba(240, 235, 222, 0.1);
}

.block {
  font-size: 25px;
  color: #a8a49e;

}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: goldenrod;
}

.navbar-expand-lg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: black;
}